.git/
.gradle/
.metadata/
.idea/
.settings/
classes/
build/
out/
mydb/
GiftRequestDB/
derby.log
*.class
*.lock
*.iml
*.log
mydb/
gradle/
gradlew
gradlew.bat
*.log
*.project
.project
*.flac
softEngTestDatabase/
softEngDatabase/
gargoyle_food_request_db/


/bin/
